html * {
  background: white; }

::selection {
  background: #666666; }

::-moz-selection {
  background: #666666; }

.r {
  color: #505050; }

.r .comment {
  color: #8c8c8c;
  font-style: italic;
  background: white; }

.r .roxygen {
  color: #666666;
  background: white; }

.r .ssdouble {
  color: #c35dc3; }

.r .dssingle {
  color: #c35dc3; }

.r .sstring {
  color: #c35dc3; }

.r .dstring {
  color: #c35dc3; }

.r .at {
  color: #446fbd; }

.r .dollar {
  color: #446fbd; }

.r .lev0 {
  color: #8ea812; }

.r .lev1 {
  color: #8ea812; }

.r .lev2 {
  color: #8ea812; }

.r .lev3 {
  color: #8ea812; }

.r .lev4 {
  color: #8ea812; }

.r .lev5 {
  color: #8ea812; }

.r .lev6 {
  color: #8ea812; }

.r .lev7 {
  color: #8ea812; }

.r .lev8 {
  color: #8ea812; }

.r .lev9 {
  color: #8ea812; }

.r .lev10 {
  color: #8ea812; }

.r .lev11 {
  color: #8ea812; }

.r .lev12 {
  color: #8ea812; }

.r .lev13 {
  color: #8ea812; }
